<!DOCTYPE html>
<html>
<head>
  <title>ValleyLodgeTavern</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => false %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => false %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
</head>
<body>
  <div class="wrapper">
    <%= render partial: "elements/navbar" %>
    <%= bootstrap_flash %>
    <%= yield %>
  </div>
</body>
</html>
